<p>list-order works!</p>
<div class="css-9zfmyp-Wrapper">
  <ul aria-labelledby="sm-departments" class=" css-1eag065-storeMenu">
    <li>
        <a rel="nofollow" aria-current="page" class="css-nc758l-MenuLink" href="/store/aldi/collection/produce">
            <span class="css-ykiifi-MenuLink">produce</span>
        </a>
        <ul class="css-bng902-MenuLink">
            <li>
                <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/fresh-fruits">
                    <span class="css-1n6ze59-MenuLink">Fresh Fruits</span>
                </a>
            </li>
            <li>
                <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/fresh-vegetables">
                    <span class="css-1n6ze59-MenuLink">Fresh vegetables</span>
                </a>
            </li>
            <li>
                <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/herbs">
                    <span class="css-1n6ze59-MenuLink">Herbs</span>
                </a>
            </li>

        </ul>
    </li>
    <li>
        
    </li>
  </ul>
</div>