<p>list-order works!</p>

   
<div class="css-9zfmyp-Wrapper">
    <div class="css-12ch5ly-PinnedContainer"></div>
  <ul aria-labelledby="sm-departments" class=" css-1eag065-storeMenu">
    <li>
        <a rel="nofollow" aria-current="page" class="css-nc758l-MenuLink" href="/store/aldi/collection/produce">
            <span class="css-ykiifi-MenuLink">produce</span>
        </a>
        <ul class="css-bng902-MenuLink">
            <li>
                <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/fresh-fruits">
                    <span class="css-1n6ze59-MenuLink">Fresh Fruits</span>
                </a>
            </li>
            <li>
                <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/fresh-vegetables">
                    <span class="css-1n6ze59-MenuLink">Fresh vegetables</span>
                </a>
            </li>
            <li>
                <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/herbs">
                    <span class="css-1n6ze59-MenuLink">Herbs</span>
                </a>
            </li>

        </ul>
    </li>
        <li>
           <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/dairy">
                <span class="css-eu750e-MenuLink">Dairy & Eggs</span>
            </a>
        </li>
      <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/beverages">
                 <span class="css-eu750e-MenuLink">Beverages</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/meat-and-seafood">
                 <span class="css-eu750e-MenuLink">meat & seafood</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/snacks-and-candy">
                 <span class="css-eu750e-MenuLink">Snacks & Candy</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/frozen">
                 <span class="css-eu750e-MenuLink">Frozen</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/baked-goods">
                 <span class="css-eu750e-MenuLink">Bakery</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/3089-deli">
                 <span class="css-eu750e-MenuLink">Deli</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/3095-prepared-foods">
                 <span class="css-eu750e-MenuLink">Prepared Foods</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/dry-goods-pasta">
                 <span class="css-eu750e-MenuLink">Dry Goods & Pasta</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/condiments-sauces">
                 <span class="css-eu750e-MenuLink">Condiments & Sauces</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/canned-goods">
                 <span class="css-eu750e-MenuLink">Canned Goods & Soups</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/household">
                 <span class="css-eu750e-MenuLink">Household</span>
             </a>
        </li>
        <li>
            <a rel="nofollow" class="css-1uowhjo-MenuLink" href="/store/aldi/collections/baking-essentials">
                 <span class="css-eu750e-MenuLink">Baking Essentials</span>
             </a>
        </li>
        <hr class="css-1jc5k70-Separator">
  </ul>
</div>
<div class="css-505ycn-ShopLayout">
    <div class="css-hjwmw9-NextSearchTray"></div>
</div>
<div id="store-wrapper" tabindex="-1" class="css-1sevvat">
    <div class="css-k008qs">
        <div class="css-z4hfda">
            <div>
                <div class="css-1ht3per">
                    <div class="css-14unvq6">
                        <h1 class="css-1nklz3c">produce</h1>
                    </div>
                </div>
            </div>
            <div>
                <div class="css-1d6hhz3-ItemsList">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
        


