

.css-9zfmyp-Wrapper {
    position: fixed;
    top: 80px;
    height: calc(100% - 80px);
    width: 260px;
    z-index: 100;
    overflow-y: auto;
    border-right: 1px solid rgb(246, 247, 248);
    background-color: rgb(255, 255, 255);
}
/*:after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}*/
.css-1uowhjo-MenuLink {
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #343538;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    padding-right: 12px;
    padding-left: 12px;
}